:root {
  /* Шрифты */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;

  /* Цвета текста */
  --main-txt-cl: #757575;
  --accent-cl: #2196F3;
  --title-cl:#212121;
  

  /* Цвета фонов */
  --main-bcg-cl: #ffffff;
  --hero-bcg-cl: #2F303A;
  
  /* Другое */


}
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-txt-cl);
  background-color: var(--main-bcg-cl);
}

/* Сброс оформления стилей */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Logo */
.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}
.dark-logo {
  color: #000000;
}
.light-logo {
    color: #ffffff;
}

/* Header */

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-cl)
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-cl) ;
}
.current {
  color: var(--accent-cl);
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--main-txt-cl);
}

/* контакты в навигации - ховер и фокус!! */